.avatar__container.LRG {
  position: relative;
  grid-column-start: 4;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
}

.avatar__wrapper.LRG {
  position: relative;
  border-radius: 50%;
  height: 194px;
  width: 194px;
  background: -webkit-linear-gradient(270deg, #700d00, #f5bc2d);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #f5bc2d;
}

.avatar__image.LRG {
  position: relative;
  height: 174px;
  width: 174px;
  background-size: 100px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
  border: 2px solid #700d00;
}


.avatar__container.MED {

  height: 140px;
  width: 140px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.avatar__wrapper.MED {
  position: relative;
  border-radius: 50%;
  height: 110px;
  width: 110px;
  background: -webkit-linear-gradient(270deg, #700d00, #f5bc2d);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #f5bc2d;
}

.avatar__image.MED {
  position: relative;
  height: 100px;
  width: 100px;
  background-size: 100px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
  border: 1px solid #700d00;
}

.avatar__container.SML {

  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.avatar__wrapper.SML {
  position: relative;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  background: -webkit-linear-gradient(270deg, #700d00, #f5bc2d);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f5bc2d;
}

.avatar__image.SML {
  position: relative;
  height: 45px;
  width: 45px;
  background-size: 100px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
  border: 1px solid #700d00;
}
