.avatar__container.LRG {
  position: relative;
  grid-column-start: 4;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  z-index: 2;
}

.avatar__wrapper.LRG {
  position: relative;
  border-radius: 50%;
  height: 194px;
  width: 194px;
  background: -webkit-linear-gradient(135deg, #766237 10%, #e6CD8C 50%, #766237 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #0D1117;
}

.avatar__image.LRG {
  position: relative;
  height: 170px;
  width: 170px;
  background-size: 100px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
  border: 2px solid #0D1117;
}


.avatar__container.MED {

  height: 140px;
  width: 140px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
}

.avatar__wrapper.MED {
  position: relative;
  border-radius: 50%;
  height: 110px;
  width: 110px;
  /* background: -webkit-linear-gradient(270deg, #700d00, #f5bc2d); */
  background: -webkit-linear-gradient(135deg, #766237 10%, #e6CD8C 50%, #766237 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid #f5bc2d; */
  border: 2px solid #0D1117;
}

.avatar__image.MED {
  position: relative;
  height: 96px;
  width: 96px;
  background-size: 100px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
  /* border: 1px solid #700d00; */
  border: 2px solid #0D1117;
}

.avatar__container.SML {

  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.avatar__wrapper.SML {
  position: relative;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  /* background: -webkit-linear-gradient(270deg, #700d00, #f5bc2d); */
  background: -webkit-linear-gradient(45deg, #766237 10%, #e6CD8C 50%, #766237 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #f5bc2d; */
  border: 1px solid #0D1117;
}

.avatar__image.SML {
  position: relative;
  height: 42px;
  width: 42px;
  background-size: 100px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
  /* border: 1px solid #700d00; */
  border: 1px solid #0D1117;
}
