.comment__container {
  position: relative;
  width: 348px;
  min-height: 100px;
  max-height: 100%;
  margin: auto 3px;
  background: center/cover url('../assets/backgrounds/parchment-long.jpg');
  display: flex;
  border: 1px inset #0D1117;
  color: #0D1117;
  padding: 5px 0;
  margin-left: 0;
  outline: none;

}

.comment__wrapper {
  position: relative;
  width: 100%;
  min-height: 100px;
  display: grid;
  grid-template-columns: 45px 238px 60px;
  grid-template-rows: 30px 40px 1fr;


}

.comment__info {
  grid-column: 2;
  grid-row: 1;
  font-size: 14px;
  border-bottom: 1px solid #0D1117;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.comment__info-username {
  display: flex;
}

.comment__contents {
  position: relative;
  display: block;
  color: #06090F;
  max-width: 98%;
  height: auto;
  grid-column: 2;
  grid-row: 2 / span 2;
  padding: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow: hidden;
}


.comment__voting-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 70px;
  align-self: flex-start;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  color: #0D1117;
  width: 45px;
  grid-column: 1;
  grid-row: 1 / span 2;
  margin-left: 0px;
}

.comment__upvote-button,
.comment__downvote-button {
  font-size: 1.4rem;
  color: #0D1117;
  cursor: pointer;
  background: -webkit-linear-gradient(45deg, #766237 10%, #e6CD8C 50%, #766237 90%);
  border: 1.5px outset #0D1117;
  border-radius: 50%;
}

.comment__avatar-container {
  align-self: flex-start;
  grid-column: 3;
  grid-row: 1 ;
}

.comment__avatar-container > .avatar__container {
  margin-top: -5px;
  margin-left: 5px;
}
