



.comment-box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  max-width: 400px;
  margin: 0px auto;
  margin-bottom: 6px;
  background: #0D1117;
  /* background: -webkit-linear-gradient(45deg, #46646E, #89DCEB, #46646E); */
  border-radius: 4px;
  /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); */
  overflow: hidden;
  padding: 10px 0px;
  transition: min-height 0.4s ease;
  max-height: 100px;
  /* border: 1px groove #0D1117; */
  outline: none;
}

.comment-box label {
  height: 0;
  width: 0;
  visibility: hidden;
}

.comment-box button {
  cursor: pointer;
}

.comment-box button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.comment-box button[type="submit"] {
  background: #121E2F;
  color: #31B3E1;
  border-radius: 4px;
  border: 3px outset #0D1117;
  outline: none;
}

.comment-box.modified {
  max-height: unset;
}

.comment-box__header {
  transition: opacity 0.4s ease 0.2s;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-40px);
}

.comment-box__user {
  display: flex;
  align-items: center;
  color: #31B3E1;
}

.comment-box.expanded .comment-box__header {
  transform: translateY(40px);
  opacity: 1;
  visibility: visible;
}

.comment-box__comment-field {
  font-family: inherit;
  color: #06090F;
  transition: transform 0.4s ease;
  font-size: 22px;
  width: 94%;
  border-radius: 4px;
  outline: none;
  padding: 2px;
  min-height: 50px;
  transform: translateY(-32px);
  line-height: 1;
  border: 2px inset #06090F;
  resize: none;
  margin-left: 8px;
}


.comment-box__comment-field::placeholder {
  color: #0D1117;

}

.comment-box__actions {
  width: 100%;
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  margin-top: 40px;
  opacity: 0;
  padding-right: 5px;
  transition: opacity 0.4s ease 0.2s;
}

.comment-box.expanded .comment-box__actions {
  opacity: 1;
}

.comment-box__actions button {
  margin-left: 6px;
  font-size: 14px;
  padding: 12px;
  border: none;
  line-height: 1;
}

.comment-box__actions .comment-box__cancel {
  background: none;
  color: #ffffff;
}

.comment-box.expanded .comment-box__comment-field {
  transform: translateY(40px);
}
