.deckviewer {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 40px 2fr 1fr 40px;
  grid-template-rows: 75px 350px 715px 1fr;
}

.deckviewer h3 {
  color: #ffffff;
}

.deckviewer__header {
  position: relative;
  grid-column: 1 / span 4;
  grid-row: 2;
  display: grid;
  grid-template-columns: 40px 1fr 1fr 1fr 40px;
  grid-template-rows: 25px 200px 100px 25px;
  background-color: #121E2F;
  border-top: 1px solid #E6CD8C;
  border-bottom: 1px solid #E6CD8C;
  width: 100%;
}

.deckviewer-header__main {
  position: relative;
  grid-row: 2 / span 2;
  grid-column: 1 / span 5;
  display: grid;
  grid-template-columns: 40px 1fr 1fr 1fr 40px;
  width: 100%;
}

.deckviewer-header__deck-panel {
  grid-column-start: 2;
  position: relative;
  display: grid;
  grid-template-rows: 100px 25px 175px;
}

.deckviewer-header__deck-panel-name {
  position: relative;
  grid-row: 1;
  font-size: 2.5rem;
  font-weight: 700;
  color: #13B3E1;
  -webkit-text-stroke: 1px #420D09;
  line-height: 3rem;
  z-index: 1;
  align-self: end;
}

.deckviewer-header__deck-panel-attribution {
  position: relative;
  grid-row: 2;
  font-size: 11px;
  align-self: start;
  color: #13B3E1;
  margin-left: 10px;
  z-index: 1;
}

.deckviewer-header__deck-description {
  position: relative;
  grid-row: 3;
  z-index: 1;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  color: #FFFFFF;
  align-self: center;
  font-size: 20px;
}

.deckviewer__user-panel-background {
  position: absolute;
  grid-column: 1 / span 5;
  width: 100%;
  height: 350px;
  background-color: #121E2F;
  border-top: 3px ridge #E6CD8C;
  border-bottom: 3px ridge #E6CD8C;
  overflow: hidden;
  z-index: 1;
}

.deckviewer__user-panel-background-wrapper {
  background-color: #121E2F;
  position: absolute;
  width: 84%;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 17%;
  overflow: hidden;
  transform-origin: top right;
  transform: skewX(45deg);
  border: none;
  outline: 1px solid transparent;
  padding: 1px transparent;
  margin: 1px transparent;
  background-size: cover;
  border-style: none;
  font-size: 0;
  box-shadow: 0 0 1px rgba(255,255,255,0);
  opacity: 1;
  mix-blend-mode: multiply;
}

.deckviewer__user-panel-background-image {
  position: relative;
  width: 100%;
  height: 350px;
  opacity: 1;
  background-color: #121E2F;
  background-repeat: no-repeat;
  background-size: cover;
  transform-origin: top right;
  transform: skewX(-45deg);
  mask-image: linear-gradient(to right top, rbga(0, 0, 0, 0) 0%, #000000 100%);
  left: 10%;
}

.deckviewer__user-panel-gradient {
  position: relative;
  transform-origin: top right;
  transform: skewX(45deg);
  width: 84%;
  height: 350px;
  top: 0;
  right: 0;
  left: 17%;
}

.deckviewer__user-panel-gradient:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 350px;
  overflow: hidden;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transform-origin: top right;
  transform: skewX(-45deg);
  background: linear-gradient(45deg, rgba(18, 30, 47, 1) 40%, rgba(18, 30, 47, .5) 60%, transparent 100%);
}

.deckviewer__body {
  grid-column: 1 / span 4;
  grid-row: 3 / span 2;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-template-rows: 85px 1fr;
  width: 100%;
  margin-bottom: 0;
  border: 2px ridge #21262D;
  border-bottom: none;
  border-top: none;
  padding-top: 10px;
  height: 100%;
  min-height: 1077px;
}

.deckviewer__display-buttons-wrapper {
  padding-top: 30px;
  height: 50px;
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.deckviewer__display-buttons-wrapper button {
  margin: 3px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  line-height: 1.2rem;
  border: 2px ridge #E6CD8C;
  font-size: 1.4rem;
  background-color: #21262D;
  color: #E6CD8C;
  cursor: pointer;
  outline: none;
  padding-left: 5.5px;
}

.deckviewer__deck-container {
  margin-top: 5px;
  grid-column: 1;
  grid-row: 2;
  position: relative;
}

.deckviewer__deck-something {
  grid-column: 1;
  position: relative;
  display: grid;
  grid-template-columns: 6fr 1fr;
  grid-template-rows: 2.75rem 1fr 2.75rem 1fr 2.75rem 1fr 12rem;
  padding-left: 40px;
  margin-top: 30px;
}

.deckviewer__curve-view {
  grid-column: 2;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  /* min-width: 1005px; */
}


.deckviewer__curve-view-special-cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* padding-left: 40px; */
}

.deckviewer__curve-view-special-cards-commander,
.deckviewer__curve-view-special-cards-companion {
  width: 160px;
  margin: 5px 2px;
}

.deckviewer__curve-view-grid{
  display: grid;
  grid-template-columns: 6fr 1fr;
  grid-template-rows: 2.75rem 1fr 2.75rem 1fr 2.75rem 1fr 12rem;
}

.deckviewer__curve-view-grid p{
  color: #fff;
  font-size: 12px;
  text-align: center;
  width: 133.65px;
}

.deckviewer__main-container1-title {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.deckviewer__main-container1-title-text {
  /* grid-column: 2;
  display: flex;
  justify-content: center;
  color: #fff;
  border-bottom: 1px solid #21262D;
  padding-top: 5px; */
  grid-column: 1 /span 6;
  display: flex;
  justify-content: center;
  color: #fff;
  padding-top: 5px;
}

.deckviewer__main-container1-row-description {
  grid-column: 1 /span 6;
  grid-row: 2;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 3px;
}

.deckviewer__main-container1 {
  padding-top: 10px;
  grid-column: 1;
  grid-row: 2;
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.deckviewer__creature-container01 {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deckviewer__creature-container2 {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deckviewer__creature-container3 {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deckviewer__creature-container4 {
  grid-column: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deckviewer__creature-container5 {
  grid-column: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deckviewer__creature-container6plus {
  grid-column: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deckviewer__land-container-title {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  /* grid-template-columns: 25px 1fr 25px; */
  grid-template-rows: repeat(2, 1fr);
  justify-self: center;
}

.deckviewer__land-container-title-text {
  /* grid-column: 2;
  display: flex;
  justify-content: center;
  color: #fff;
  border-bottom: 1px solid #21262D;
  padding-top: 5px; */
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: center;
  color: #fff;
  padding-top: 5px;
  align-items: flex-end;
}

.deckviewer__land-container {
  padding-top: 10px;
  /* grid-column: 2;
  grid-row: 2 /span 3;
  display: flex;
  flex-direction: column; */
  grid-row: 2 /span 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deckviewer__main-container2-title {
  grid-row: 3;
  grid-column: 1;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.deckviewer__main-container2-title-text {
  grid-column: 1 /span 6;
  grid-row: 1;
  display: flex;
  justify-content: center;
  color: #fff;
  padding-top: 5px;
}

.deckviewer__main-container2-row-description {
  grid-column: 1 /span 6;
  grid-row: 2;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 3px;
}

.deckviewer__main-container2 {
  padding-top: 10px;
  grid-column: 1;
  grid-row: 4;
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.deckviewer__spell-container01 {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deckviewer__spell-container2 {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deckviewer__spell-container3 {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deckviewer__spell-container4 {
  grid-column: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deckviewer__spell-container5 {
  grid-column: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deckviewer__spell-container6plus {
  grid-column: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deckviewer__commander-container-title {
  grid-column: 2;
  grid-row: 3;
  display: grid;
  grid-template-columns: 25px 1fr 25px;
  grid-template-rows: repeat(2, 1fr);
  background-color: #E6CD8C;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.deckviewer__commander-container-title-text {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: center;
  color:#121E2F;
  padding-bottom: 3px;
  align-items: flex-end;
}

.deckviewer__commander-container {
  grid-column: 2;
  grid-row: 4;
  display: flex;
  flex-direction: column;
  border: 2px solid #E6CD8C;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  align-items: center;
  background-color: #E6CD8C;
  height: 13rem;
}

.deckviewer__side-container-title {
  grid-column: 1 /span 2;
  grid-row: 5;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.deckviewer__side-container-title-text {
  grid-column: 1 /span 7;
  grid-row: 1;
  color: #fff;
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

.deckviewer__side-container-row-description {
  grid-column: 1 /span 7;
  grid-row: 2;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 3px;
}

.deckviewer__side-container {
  padding-top: 10px;
  grid-row: 6;
  grid-column: 1 /span 2;
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  min-height: 180px;
}

.deckviewer__sideslot01-container {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.deckviewer__sideslot2-container {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deckviewer__sideslot3-container {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deckviewer__sideslot4-container {
  grid-column: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deckviewer__sideslot5-container {
  grid-column: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deckviewer__sideslot6plus-container {
  grid-column: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deckviewer__sideslotlands-container {
  grid-column: 2;
  grid-row: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deckviewer__companion-container-title {
  grid-column: 2;
  grid-row: 5;
  display: grid;
  grid-template-columns: 25px 1fr 25px;
  grid-template-rows: repeat(2, 1fr);
  background-color: #121E2F;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.deckviewer__companion-container-title-text {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: center;
  color: #E6CD8C;
  text-align: center;
  padding-bottom: 3px;
  align-items: flex-end;
}

.deckviewer__companion-container {
  grid-column: 2;
  grid-row: 6;
  display: flex;
  flex-direction: column;
  border: 2px solid #121E2F;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  align-items: center;
  background-color: #121E2F;
  height: 13rem;
}

.deckviewer__multipurpose-box {
  grid-column: 2;
  grid-row: 1 /span 2;
  overflow: hidden;
  position: relative;
  width: 400px;
  /* min-height: 1110px; */
  height: 100%;

  /* height: 985px; */

}

.deckviewer__card-display {
  position: absolute;
  right: 12px;
  height: 1110px;
  width: 335px;
  padding-top: 2.5rem;

}

.deckviewer__card-display-image {
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  border: 2px ridge #21262D;
  border-radius: 20px;
  width: 300px;
  height: 420px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.deckviewer__comments-drawer {
  position: absolute;
  display: grid;
  grid-template-columns: 30px 1fr;
  width: 400px;
  z-index: 2;
  min-height: 1100px;
  height: 100%;
  -webkit-transition: right 0.5s ease-in-out;
  -moz-transition: right 0.5s ease-in-out;
  -o-transition: right 0.5s ease-in-out;
  -ms-transition: right 0.5s ease-in-out;
  transition: right 0.5s ease-in-out;
}

.deckviewer__comments-drawer--hide {
  right: -370px;
}

.deckviewer__comments-drawer--reveal {
  right: 0px;
}
.deckviewer__comments-pulltab {

  justify-self: end;
  position: relative;
  height: 50px;
  width: 29px;
  background-color: #0D1117;
  grid-column: 1;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border: 2px ridge #E6CD8C;
  border-right: none;
  right: -8%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.deckviewer__pulltab-svg {
  font-size: 1.6rem;
  fill: #C0C0C0;
  margin-left: 3px;
}

.deckviewer__comments-container {
  grid-column: 2;
  position: relative;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  height: 98%;
  width: 400px;
  background-color: #0D1117;
  padding-left: 9px;
  padding-top: 10px;
  border: 2px ridge #E6CD8C;
  border-right: 5px inset #0D1117;
}

.deckviewer__comments-wrapper {
  grid-column: 3;
  grid-row: 8;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-bottom: 0;
  color: #0d1117;
  margin: 1px;
  margin-top: 0;
  height: 100%;
  max-width: 98%;
  justify-content: flex-start;
}

.deckviewer__comments-list {
  overflow-y: scroll;
  max-height: 550px;
  width: 365px;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
