.decksbrowser {
  position: relative;
  color: #fff;
  min-height: 840px;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 60px 50px 50px 100px 1fr;
}

.deckbrowser__header {
  grid-column: 2;
  grid-row: 4;
  display: grid;
  grid-template-columns: 1fr 200px 60px 1fr;
}

.decksbrowser__select-bar {
  color: #000;
  width: 170px;
  grid-column: 2;
  align-self: center;
  justify-self: center;
}

.deckbrowser__header-button {
  grid-column: 3;
  margin-left: 3px;
  margin-right: 3px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  line-height: 1.2rem;
  border: 2px ridge #E6CD8C;
  font-size: 1.4rem;
  background-color: #21262D;
  color: #E6CD8C;
  cursor: pointer;
  outline: none;
  align-self: center;
  justify-self: center;
}

.decksbrowser__deck-list {
  grid-column: 2;
  grid-row: 5;
  padding-bottom: 25px;
  position: relative;
}

.decksbrowser__deck-list-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  position: relative;
  text-align: center;
}

.decksbrowser__deck-list-item {
  height: 380px;
}

.decksbrowser__deck-list-item-mana {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.decksbrowser__deck-list-item-mana > img{
  height: 20px;
  margin: 5px 0;
}

.decksbrowser__deck-list-item p {
  font-size: 12px;
}

.decksbrowser__deck-list-item-indicators {
  height: 10px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2px;
}

.decksbrowser__deck-list-item-indicators div {
  margin: 0 5px;
}

