.deckbuilder {
  position: relative;
  min-height: 1630px;
  width: 100%;
  display: grid;
  grid-template-columns: 45px 1fr 45px;
  grid-template-rows: 75px 350px 300px 995px 1fr;
}

.deckbuilder h3 {
  color: #ffffff;
}

.deckbuilder__header {
  position: relative;
  grid-column: 1 / span 4;
  grid-row: 2;
  display: grid;
  grid-template-columns: 45px 1fr 1fr 1fr 45px;
  grid-template-rows: 25px 300px 25px;
  background-color: #121E2F;
  border-top: 1px solid #E6CD8C;
  border-bottom: 1px solid #E6CD8C;
  width: 100%;
}


.deckbuilder-header__main {
  position: relative;
  grid-row: 2;
  grid-column: 1 / span 5;
  display: grid;
  grid-template-columns: 45px 1fr 1fr 1fr 45px;
  width: 100%;
}

.deckbuilder__user-panel-background {
  position: absolute;
  grid-column: 1 / span 5;
  grid-row: 1 /span 3;
  width: 100%;
  height: 350px;
  background-color: #121E2F;
  border-top: 3px ridge #E6CD8C;
  border-bottom: 3px ridge #E6CD8C;
  overflow: hidden;
  z-index: 1;
}

.deckbuilder__user-panel-background-wrapper {
  background-color: #121E2F;
  position: absolute;
  width: 100%;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  border: none;
  outline: 1px solid transparent;
  padding: 1px transparent;
  margin: 1px transparent;
  background-size: cover;
  border-style: none;
  font-size: 0;
  box-shadow: 0 0 1px rgba(255,255,255,0);
  opacity: .65;
  mix-blend-mode: multiply;
}

.deckbuilder__user-panel-background-image {
  position: relative;
  width: 100%;
  height: 350px;
  opacity: 1;
  background-color: #121E2F;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 75px 25%;
  mask-image: radial-gradient(#000 0%, rbga(0, 0, 0, 0) 100%);
}

.deckbuilder__user-panel-gradient {
  position: relative;
  width: 100%;
  height: 350px;
}

.deckbuilder__user-panel-gradient:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 350px;
  overflow: hidden;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: radial-gradient(circle at center, transparent 0%, rgba(18, 30, 47, .5) 45%, rgba(18, 30, 47, 1) 75%);
}

.deckbuilder__body {
  grid-column: 2;
  grid-row: 3 / span 3;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 305px;
  grid-template-rows: 85px 1fr;
  width: 100%;
  margin-bottom: 0;
  border-bottom: none;
  border-top: none;
  padding-top: 10px;
  min-height: 1595px;

}

.deckbuilder__display-buttons-wrapper {
  padding-top: 30px;
  height: 50px;
  grid-column: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.deckbuilder__display-buttons-wrapper button {
  margin: 3px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  line-height: 1.2rem;
  border: 2px ridge #E6CD8C;
  font-size: 1.4rem;
  background-color: #21262D;
  color: #E6CD8C;
  cursor: pointer;
  outline: none;
  padding-left: 5.5px;
}

.deckbuilder__deck-container {
  margin-top: 5px;
  grid-column: 1;
  grid-row: 2;
  position: relative;
  min-width: 1035px;
}

.deckbuilder__build-view {
  width: 1030px;
  min-height: 360px;
  display: grid;
  grid-template-columns: 305px 730px;
}

.deckbuilder__search-panel {
  grid-column: 1;
  display: grid;
  grid-template-rows: 134px 1fr;
}


.deckbuilder__search-options-container {
  grid-row: 1;
  width: 100%;
}

.deckbuilder__search-options-form {
  display: grid;
  grid-template-columns: 258px 45px;
}

.deckbuilder__search-options-form-top {
  grid-row: 1;
}

.deckbuilder__search-options-form-text-field {
  display: flex;
  width: 300px;
}

.deckbuilder__search-options-form-text-field input {
  width: 258px;
  height: 30px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border: 1px solid #E6CD8C;
  border-right: 3px inset #46646E;
  background-color: #21262D;
  color: #46646E;
  font-size: 1.4rem;
  outline: none;
  font-weight: 500;
  line-height: 2.4rem;
  text-align: center;
  align-self: center;
  padding-left: 40px;
}

.deckbuilder__search-options-form-text-field input::placeholder {
  color: #46646E;
}

.deckbuilder__search-options-form-text-field button {
  display: none;
}

.deckbuilder__search-options-form-filter-buttons-container {
  grid-row: 2;
}

.deckbuilder__search-options-form-filter-buttons-container button {
  margin-left: 3px;
  margin-right: 3px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  line-height: 1.2rem;
  border: 2px ridge #E6CD8C;
  font-size: 1.4rem;
  background-color: #21262D;
  color: #E6CD8C;
  cursor: pointer;
  outline: none;
  padding-left: 7px;
}

.deckbuilder__search-options-form-submit-button {
  grid-row: 1;
  width: 40px;
  height: 30px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  font-size: 1.2rem;
  border: 1px outset #E6CD8C;
  background-color: #E6CD8C;
  color: #21262D;
  line-height: 1rem;
  cursor: pointer;
  outline: none;
  margin-right: 4px;
  justify-self: center;
  padding-right: 8px;
}

.deckbuilder__search-results-wrapper {
  grid-column: 1;
  display: grid;
  padding-right: 2px;
  grid-template-columns: 35px 270px;
}

.deckbuilder__search-results-filters {
  grid-column: 1;
  display: grid;
  grid-template-rows: repeat(auto, 35px);
  display: flex;
  flex-direction: column;
  height: 596px;

}

.deckbuilder__search-results-filters button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px ridge #E6CD8C;
  background-color: #21262D;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  margin:1.5px;
}

.deckbuilder__search-results-filters button img {
  fill: #E6CD8C;
}

.deckbuilder__search-results-container {
  grid-column: 2;
  /* height: 362px; */
  height: 590px;
  max-width: 262px;
  overflow-y: auto;
  scrollbar-width: thin;
  border: 3px inset #21262D;
  background-color: #0D1117;
  display: flex;
  flex-wrap: wrap;
  /* justify-self: end; */
  /* padding-left: 33px; */
}

.build-search-card-object__image-container {
  position: relative;
  /* padding: 2px 2px; */
}

.build-search-card-object__image-container img {
  width: 125px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 9px;
}

.deckbuilder__deck-card-container {
  grid-column: 2;
  display: grid;
  grid-template-rows: 112px 22px 1fr;
}

.deckbuilder__deck-card-container-form-fields-container {
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 0 2px;
}

.deckbuilder__form-partition-1 {
  grid-column: 1;
  grid-row: 1;
  padding: 0 5px;
}

.deckbuilder__form-partition-2 {
  grid-column: 1;
  grid-row: 2;
  padding: 0 5px;
}

.deckbuilder__form-partition-3 {
  grid-column: 1;
  grid-row: 3;
  padding: 0 5px;
}

.deckbuilder__form-partition-4 {
  grid-column: 2;
  grid-row: 1 /span 2;
  padding: 0 1px;
}

.deckbuild-form-input__name-field,
.deckbuild-form-input__background-field,
.deckbuild-form-input__video-field {
  border-radius: 5px;
  width: 96%;
  height: 1.5rem;
  background-color: #21262D;
  color: #46646E;
  font-size: 20px;
  padding-left: 10px;
  border: 2px solid;
  /* outline: 1px solid #E6CD8C; */
}

.deckbuild-form-input__name-field::placeholder,
.deckbuild-form-input__video-field::placeholder {
  text-align: left;
  font-size: 20px;
  color: #46646E;

}

.deckbuild-form-input__name-field:focus,
.deckbuild-form-input__background-field:focus,
.deckbuild-form-input__video-field:focus {
  outline: none !important;
  border: 2px solid #E6CD8C;
}

.deckbuild-form-input__description-field {
  border-radius: 5px;
  width: 96%;
  height: 3.745rem;
  background-color: #21262D;
  color: #46646E;
  font-size: 20px;
  padding-left: 10px;
  border: 2px solid;
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: wrap;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
}

.deckbuild-form-input__description-field::placeholder {
  text-align: left;
  font-size: 20px;
  color: #46646E;
}



.deckbuild-form-input__description-field:focus {
  outline: none !important;
  border: 2px solid #E6CD8C;
}

.deckbuilder__deck-card-container p {
  grid-row: 2;
  color: #fff;
  text-align: center;
  align-self: end;

}

.deckbuilder__curve-view {
  grid-column: 2;
  display: flex;
  flex-direction: row;
}

.deckbuilder__curve-view-special-cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.deckbuilder__curve-view-special-cards-commander,
.deckbuilder__curve-view-special-cards-companion {
  width: 160px;
  margin: 5px 2px;
}

.deckbuilder__curve-view-grid{
  display: grid;
  grid-template-columns: 6fr 1fr;
  grid-template-rows: 2.75rem 1fr 2.75rem 1fr 2.75rem 1fr 12rem;
}

.deckbuilder__curve-view-grid p{
  color: #fff;
  font-size: 12px;
  text-align: center;
  width: 133.65px;
}

.deckbuilder__main-container1-title {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.deckbuilder__main-container1-title-text {
  grid-column: 1 /span 6;
  display: flex;
  justify-content: center;
  color: #fff;
  padding-top: 5px;
}

.deckbuilder__main-container1-row-description {
  grid-column: 1 /span 6;
  grid-row: 2;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 3px;
}

.deckbuilder__main-container1 {
  padding-top: 10px;
  grid-column: 1;
  grid-row: 2;
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.deckbuilder__creature-container01 {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deckbuilder__creature-container2 {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deckbuilder__creature-container3 {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deckbuilder__creature-container4 {
  grid-column: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deckbuilder__creature-container5 {
  grid-column: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deckbuilder__creature-container6plus {
  grid-column: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deckbuilder__land-container-title {
  grid-row: 1;
  display: grid;
  grid-template-columns: 25px 1fr 25px;
  grid-template-rows: repeat(2, 1fr);
}

.deckbuilder__land-container-title-text {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: center;
  color: #fff;
  padding-top: 5px;
  align-items: flex-end;
}

.deckbuilder__land-container {
  grid-row: 2 /span 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deckbuilder__main-container2-title {
  grid-row: 3;
  grid-column: 1;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.deckbuilder__main-container2-title-text {
  grid-column: 1 /span 6;
  grid-row: 1;
  display: flex;
  justify-content: center;
  color: #fff;
  padding-top: 5px;
}

.deckbuilder__main-container2-row-description {
  grid-column: 1 /span 6;
  grid-row: 2;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 3px;
}

.deckbuilder__main-container2 {
  padding-top: 10px;
  grid-column: 1;
  grid-row: 4;
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.deckbuilder__spell-container01 {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deckbuilder__spell-container2 {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deckbuilder__spell-container3 {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deckbuilder__spell-container4 {
  grid-column: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deckbuilder__spell-container5 {
  grid-column: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deckbuilder__spell-container6plus {
  grid-column: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deckbuilder__commander-container-title {
  grid-column: 2;
  grid-row: 3;
  display: grid;
  grid-template-columns: 25px 1fr 25px;
  grid-template-rows: repeat(2, 1fr);
  background-color: #E6CD8C;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.deckbuilder__commander-container-title-text {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: center;
  color:#121E2F;
  padding-bottom: 3px;
  align-items: flex-end;
}

.deckbuilder__commander-container {
  grid-column: 2;
  grid-row: 4;
  display: flex;
  flex-direction: column;
  border: 2px solid #E6CD8C;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  align-items: center;
  background-color: #E6CD8C;
  height: 13rem;
}

.deckbuilder__side-container-title {
  grid-column: 1 /span 2;
  grid-row: 5;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.deckbuilder__side-container-title-text {
  grid-column: 1 /span 7;
  grid-row: 1;
  color: #fff;
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

.deckbuilder__side-container-row-description {
  grid-column: 1 /span 7;
  grid-row: 2;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 3px;
}

.deckbuilder__side-container {
  padding-top: 10px;
  grid-row: 6;
  grid-column: 1 /span 2;
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  min-height: 180px;
}

.deckbuilder__sideslot01-container {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.deckbuilder__sideslot2-container {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.deckbuilder__sideslot3-container {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.deckbuilder__sideslot4-container {
  grid-column: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.deckbuilder__sideslot5-container {
  grid-column: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.deckbuilder__sideslot5plus-container {
  grid-column: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.deckbuilder__sideslotlands-container {
  grid-column: 7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deckbuilder__companion-container-title {
  grid-column: 2;
  grid-row: 5;
  display: grid;
  grid-template-columns: 25px 1fr 25px;
  grid-template-rows: repeat(2, 1fr);
  background-color: #121E2F;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.deckbuilder__companion-container-title-text {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: center;
  color: #E6CD8C;
  text-align: center;
  padding-bottom: 3px;
  align-items: flex-end;
}

.deckbuilder__companion-container {
  grid-column: 2;
  grid-row: 6;
  display: flex;
  flex-direction: column;
  border: 2px solid #121E2F;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  align-items: center;
  background-color: #121E2F;
  height: 13rem;
}

.deckbuilder__list-view {
  grid-row: 2;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
}

.deckbuilder__card-display {
  grid-column: 2;
  grid-row: 1 /span 2;
  position: absolute;
  padding: 30px 0;
  right: 0px;
  height: 1595px;
  width: 304px;
  margin-left: 10px;
}

.deckbuilder__card-display-sticky-track {
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  height: 845px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.deckbuilder__card-display-image {
  border: 2px ridge #21262D;
  border-radius: 20px;
  width: 300px;
  height: 420px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.deckbuilder__card-display-multiface-image {
  margin-top: 5px;
  border: 2px ridge #21262D;
  border-radius: 20px;
  width: 300px;
  height: 420px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.deckbuilder__comments-container {
  grid-column: 2;
  position: relative;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  height: 970px;
  width: 460px;
  background-color: #0D1117;
  padding-left: 9px;
  padding-top: 10px;
  border: 2px ridge #E6CD8C;
  border-right: 5px inset #0D1117;
}

.deckbuilder__comments-wrapper {
  grid-column: 3;
  grid-row: 8;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-bottom: 0;
  color: #0d1117;
  margin: 1px;
  margin-top: 0;
  height: 100%;
  max-width: 98%;
  justify-content: flex-start;
}
