.deck-object__container {
  position: relative;
  width: 420px;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deck-object__wrapper {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.deck-object__displaycard {
  background-color: #0D1117;
  position: absolute;
  width: 400px;
  height: 200px;
  top: 122px;
  float: left;
  border-radius: 20px;
  border: 2px outset #21262D;
}

.deck-object__wrapper h4{
  padding: 0 5px;
  padding-top: 7px;
  height: 32px;
  color: #ffffff;
  cursor: pointer;
}

.deck-object__creator {
  font-size: 12px;
  padding-bottom: 7px;
  cursor: pointer;
}

.deck-object__3d-render {
  width: 184px;
  height: 210px;
  perspective: 2000px;
  perspective-origin: -150% -150%;
  padding-top: 40px;
  cursor: pointer;
}

.deck-object__3d-render-deckbox {
  width: 184px;
  height: 210px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transform: rotate3d(-.2,1,-.1,25deg);
}

.deck-object__3d-render-deckbox-front {
  position: absolute;
  width: 180px;
  height: 210px;
  transform: rotateY( 0deg) translateZ(50px);
  outline: 1px solid transparent;
  background-color: #21262D;
}

.deck-object__3d-render-deckbox-front-top:before {
  content: '';
  width: 1px;
  height:84px;
  background-color: #cccccc;
  left: -1px;
  position: absolute;
}

.deck-object__3d-render-deckbox-front-top {
  width: 184px;
  height: 88px;
  outline: 1px solid transparent;
  border-bottom: 3px groove #555555;
  background-position: 79% 3% ;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: 313px 228px;
  background-origin: border-box;
  box-sizing: border-box;

}

.deck-object__3d-render-deckbox-front-bottom:before {
  content: '';
  width: 1px;
  height:123px;
  background-color: #cccccc;
  left: -1px;
  position: absolute;
}

.deck-object__3d-render-deckbox-front-bottom {
  width: 180px;
  height: 123px;
  outline: 1px solid transparent;
  background-position: 78% 87% ;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: 313px 228px;
  background-origin: border-box;
  box-sizing: border-box;
}

.deck-object__3d-render-deckbox-back {
  position: absolute;
  width: 180px;
  height: 210px;
  transform: rotateY(180deg) translateZ(50px);
  background-color: #21262D;
  outline: 1px solid transparent;
}

.deck-object__3d-render-deckbox-right,
.deck-object__3d-render-deckbox-left {
  position: absolute;
  width: 100px;
  height: 210px;
  outline: 1px solid transparent;
  background-color: #21262D;
}

.deck-object__3d-render-deckbox-left-top {
  position: relative;
  width: 100px;
  height: 90px;
  outline: 1px solid transparent;
  border-top: 1px solid #cccccc;
  border-bottom: 4px groove #555555;
  transform-origin: top right;
  transform: skewY(13deg);
  margin: -2px 0 0 0;
  overflow: hidden;
  box-sizing: border-box;
  background-origin: border-box;
}

.deck-object__3d-render-deckbox-left-top-img {
  position: absolute;
  outline: 1px solid transparent;
  width: 100px;
  height: 90px;
  border-top: 1px solid #cccccc;
  background-position: 1% 1% ;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: 313px 228px;
  transform-origin: top right;
  transform: skewY(-13deg);
  margin: 0 0 0 0;
}

.deck-object__3d-render-deckbox-left-bottom {
  width: 180px;
  height: 141px;
  outline: 1px solid transparent;
  transform-origin: bottom left;
  transform: skewY(13deg);
  margin: -23px 0 0 0;
  overflow: hidden;
  box-sizing: border-box;
  background-origin: border-box;
}

.deck-object__3d-render-deckbox-left-bottom-img {
  width: 180px;
  height: 145px;
  outline: 1px solid transparent;
  background-position: 1% 84% ;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: 313px 228px;
  transform-origin: top right;
  transform: skewY(-13deg);
  margin: -41px 0 0 0;
}

.deck-object__3d-render-deckbox-right {
  transform: rotateY(90deg) translateZ(130px);
}

.deck-object__3d-render-deckbox-left {
  transform: rotateY(-90deg) translateZ(50px);
  overflow: hidden;
}

.deck-object__3d-render-deckbox-top,
.deck-object__3d-render-deckbox-bottom {
  position: absolute;
  top: 50px;
  outline: 1px solid transparent;
  background-color: #21262D;
  border-left: 1px solid #cccccc;
}

.deck-object__3d-render-deckbox-top {
  width: 184px;
  height: 100px;
  transform: rotateX(90deg) translateZ(100px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.deck-object__3d-render-deckbox-top h1 {
  font-family: "Satmin";
  font-size: 45px;
  background: -webkit-linear-gradient(270deg, #700d00, #f5bc2d);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #421408;
  padding: 10px;
}

.deck-object__3d-render-deckbox-bottom {
  width: 180px;
  height: 100px;
  transform: rotateX(-90deg) translateZ(110px);
}
