.deckbuilder {
  position: relative;
  min-height: 1630px;
  width: 100%;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 75px 350px 300px 995px 1fr;
}

.deckbuilder h3 {
  color: #ffffff;
}

.deckbuilder__header {
  grid-column: 1 / span 4;
  grid-row: 2;
  display: grid;
  grid-template-columns: 50px 1fr 1fr 1fr 50px;
  grid-template-rows: 25px 300px 25px;
}

/* .deckbuilder__navbar-background {
  grid-row-start: 3;
  grid-column: 1 / span 5;
} */

/* .deckbuilder__buffer {
  grid-row-start: 2;
  grid-column: 1 / span 5;
  border-top: 1px solid #E6CD8C;
  background-color: #003C28;
} */

.deckbuilder-header__main {
  grid-row: 2;
  grid-column: 1 / span 5;
  display: grid;
  grid-template-columns: 50px 1fr 1fr 1fr 50px;
  background-color: #003C28;
  border-top: 1px solid #E6CD8C;
  border-bottom: 1px solid #E6CD8C;
  width: 100%;
}

/* .deckbuilder-header__deck-panel {
  grid-column-start: 2;
  display: grid;
  grid-template-rows: 100px 25px 175px;
} */

/* .deckbuilder-header__deck-panel-name {
  grid-row: 1;
  font-size: 2.5rem;
  font-weight: 700;
  color: #C39BC8;
  -webkit-text-stroke: 1px #420D09;
  line-height: 3rem;
  z-index: 1;
  align-self: end;
} */

/* .deckbuilder-header__deck-panel-attribution {
  grid-row: 2;
  font-size: 11px;
  align-self: start;
  color: #C39BC8;
  margin-left: 10px;
  z-index: 1;
}

.deckbuilder-header__deck-description {
  grid-row: 3;
  z-index: 1;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  color: #FFFFFF;
  align-self: center;
  font-size: 20px;
} */

/* .deckbuilder-header__lower-panel {
  grid-row: 5;
  grid-column: 2 / span 3;
  width: 100%;
  border-bottom: 1px solid #E6CD8C;
} */

.deckbuilder__user-panel-background {
  position: absolute;
  grid-column: 1 / span 5;
  grid-row: 1 /span 3;
  width: 100%;
  height: 350px;
  background-color: #003C28;
  border-top: 3px ridge #E6CD8C;
  border-bottom: 3px ridge #E6CD8C;
  overflow: hidden;
  z-index: 1;
  margin-top: 75px;
}

.deckbuilder__user-panel-background-wrapper {
  background-color: #003C28;
  position: absolute;
  width: 100%;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  /* transform-origin: top right;
  transform: skewX(45deg); */
  border: none;
  outline: 1px solid transparent;
  padding: 1px transparent;
  margin: 1px transparent;
  background-size: cover;
  border-style: none;
  font-size: 0;
  box-shadow: 0 0 1px rgba(255,255,255,0);
  opacity: .65;
  mix-blend-mode: multiply;
}

.deckbuilder__user-panel-background-image {
  position: relative;
  width: 100%;
  height: 350px;
  opacity: 1;
  background-color: #003C28;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 30%;
  /* transform-origin: top right;
  transform: skewX(-45deg); */
  mask-image: radial-gradient(#000 0%, rbga(0, 0, 0, 0) 100%);
  /* left: 10%; */
}

.deckbuilder__user-panel-gradient {
  position: relative;
  /* transform-origin: top right;
  transform: skewX(45deg); */
  width: 100%;
  height: 350px;
  /* top: 0;
  right: 0; */
  /* left: 10%; */
}

.deckbuilder__VIP-user-panel-gradient:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 350px;
  overflow: hidden;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  /* transform-origin: top right;
  transform: skewX(-45deg); */
  background: radial-gradient(transparent 0%, rgba(0, 60, 40, .45) 25%, rgba(0, 60, 40, 1) 70%);
}

.deckbuilder__body {
  grid-column: 2;
  grid-row: 3 / span 3;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 360px;
  grid-template-rows: 435px 1fr;
  width: 100%;
  margin-bottom: 0;
  /* border: 2px ridge #21262D; */
  border-bottom: none;
  border-top: none;
  padding-top: 10px;
  min-height: 1595px;

}

.deckbuilder__search-panel {
  grid-column: 1;
  grid-row: 1;
  /* border-right: 1px ridge #21262D; */
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.deckbuilder__search-options-container {
  grid-column: 1;
}

.deckbuilder__search-options-form {
  display: grid;
  grid-template-rows: 50px 1fr;
}

.deckbuilder__search-options-form-text-field {
  grid-row: 1;
  display: flex;
}

.deckbuilder__search-options-form-text-field input {
  width: 100%;
  height: 2rem;
  border-radius: 16px;
  border: 1px solid #E6CD8C;
  background-color: #21262D;
  color: #46646E;
  font-size: 1.4rem;
  outline: none;
  font-weight: 500;
  line-height: 2.4rem;
  text-align: center;
  align-self: center;
}

.deckbuilder__search-options-form-text-field input::placeholder {
  color: #46646E;
}

.deckbuilder__search-options-form button {
  display: none;
}

.deckbuilder__search-results-container {
  grid-column: 2;
}

.deckbuilder__deck-container {
  grid-column: 1;
  grid-row: 2;
  position: relative;
  display: grid;
  grid-template-rows: 60px 1fr;
  /* border-right: 1px ridge #21262D; */
}

.deckbuilder__display-buttons-wrapper {
  height: 60px;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deckbuilder__display-buttons-wrapper button {
  margin-left: 3px;
  margin-right: 3px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  line-height: 1.2rem;
  border: 2px ridge #E6CD8C;
  font-size: 1.4rem;
  background-color: #21262D;
  color: #E6CD8C;
  cursor: pointer;
  outline: none;
}

.deckbuilder__curve-view {
  grid-row: 2;
  display: grid;
  grid-template-columns: 6fr 1fr;
  grid-template-rows: 2.75rem 1fr 2.75rem 1fr 2.75rem 1fr 12rem;
}

.deckbuilder__main-container1-title {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: 25px 1fr 25px;
}

.deckbuilder__main-container1-title-text {
  grid-column: 2;
  display: flex;
  justify-content: center;
  color: #fff;
  border-bottom: 1px solid #21262D;
  padding-top: 5px;
}

.deckbuilder__main-container1 {
  padding-top: 10px;
  grid-column: 1;
  grid-row: 2;
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.deckbuilder__creature-container01 {
  grid-column: 1;
  display: flex;
  flex-direction: column;
}

.deckbuilder__creature-container2 {
  grid-column: 2;
  display: flex;
  flex-direction: column;
}

.deckbuilder__creature-container3 {
  grid-column: 3;
  display: flex;
  flex-direction: column;
}

.deckbuilder__creature-container4 {
  grid-column: 4;
  display: flex;
  flex-direction: column;
}

.deckbuilder__creature-container5 {
  grid-column: 5;
  display: flex;
  flex-direction: column;
}

.deckbuilder__creature-container6plus {
  grid-column: 6;
  display: flex;
  flex-direction: column;
}

.deckbuilder__land-container-title {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: 25px 1fr 25px;
}

.deckbuilder__land-container-title-text {
  grid-column: 2;
  display: flex;
  justify-content: center;
  color: #fff;
  border-bottom: 1px solid #21262D;
  padding-top: 5px;
}

.deckbuilder__land-container {
  padding-top: 10px;
  grid-column: 2;
  grid-row: 2 /span 3;
  display: flex;
  flex-direction: column;
}

.deckbuilder__main-container2-title {
  grid-row: 3;
  grid-column: 1;
  display: grid;
  grid-template-columns: 25px 1fr 25px;
}

.deckbuilder__main-container2-title-text {
  grid-column: 2;
  display: flex;
  justify-content: center;
  color: #fff;
  border-bottom: 1px solid #21262D;
  padding-top: 5px;
}

.deckbuilder__main-container2 {
  padding-top: 10px;
  grid-column: 1;
  grid-row: 4;
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.deckbuilder__spell-container01 {
  grid-column: 1;
  display: flex;
  flex-direction: column;
}

.deckbuilder__spell-container2 {
  grid-column: 2;
  display: flex;
  flex-direction: column;
}

.deckbuilder__spell-container3 {
  grid-column: 3;
  display: flex;
  flex-direction: column;
}

.deckbuilder__spell-container4 {
  grid-column: 4;
  display: flex;
  flex-direction: column;
}

.deckbuilder__spell-container5 {
  grid-column: 5;
  display: flex;
  flex-direction: column;
}

.deckbuilder__spell-container6plus {
  grid-column: 6;
  display: flex;
  flex-direction: column;
}

.deckbuilder__side-container-title {
  grid-column: 1 /span 2;
  grid-row: 5;
  display: grid;
  grid-template-columns: 25px 1fr 25px;
}

.deckbuilder__side-container-title-text {
  grid-column: 2;
  color: #fff;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #21262D;
  padding-top: 5px;
}

.deckbuilder__side-container {
  padding-top: 10px;
  grid-row: 6;
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.deckbuilder__sideslot01-container {
  grid-column: 1;
  display: flex;
  flex-direction: column;
}

.deckbuilder__sideslot2-container {
  grid-column: 2;
  display: flex;
  flex-direction: column;
}
.deckbuilder__sideslot3-container {
  grid-column: 3;
  display: flex;
  flex-direction: column;
}
.deckbuilder__sideslot4-container {
  grid-column: 4;
  display: flex;
  flex-direction: column;
}
.deckbuilder__sideslot5-container {
  grid-column: 5;
  display: flex;
  flex-direction: column;
}
.deckbuilder__sideslot6plus-container {
  grid-column: 6;
  display: flex;
  flex-direction: column;
}
.deckbuilder__sideslotlands-container {
  grid-column: 2;
  grid-row: 6;
  display: flex;
  flex-direction: column;
}

.deckbuilder__list-view {
  grid-row: 2;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
}

/* .deckbuilder__multipurpose-box {
  overflow: hidden;
  position: relative;
  width: 460px;
  height: 985px;
} */

.deckbuilder__card-display {
  grid-column: 2;
  grid-row: 1 /span 2;
  position: absolute;
  padding: 10px 0;
  right: 50px;
  height: 1595px;
  width: 300px;

}

.deckbuilder__card-display-image {
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  border: 2px ridge #21262D;
  border-radius: 20px;
  width: 300px;
  height: 420px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.deckbuilder__comments-container {
  grid-column: 2;
  position: relative;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  height: 970px;
  width: 460px;
  background-color: #0D1117;
  padding-left: 9px;
  padding-top: 10px;
  border: 2px ridge #E6CD8C;
  border-right: 5px inset #0D1117;
}

.deckbuilder__comments-wrapper {
  grid-column: 3;
  grid-row: 8;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-bottom: 0;
  color: #0d1117;
  margin: 1px;
  margin-top: 0;
  height: 100%;
  max-width: 98%;
  justify-content: flex-start;
}

.deckbuilder__comments-list {
  overflow-y: scroll;
  max-height: 550px;
  width: 415px;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
