.dndcard-object {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  width: 125px;
  height: 179px;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  transition: 0.2s;
}

.dndcard-object__image-container {
  width: 125px;
  position: relative;
}

.dndcard-object__image-container img {
  overflow: hidden;
  border-radius: 9px;
  background-color: #06090F;
  width: 125px;
  height: 175px;
  object-fit: cover;
}
