.dnd-list {
  grid-row: 3;
  overflow-y: auto;
  scrollbar-width: thin;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 3px inset #21262D;
  background-color: #0D1117;
  min-height: 360px;
  max-height: 720px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 7px;
}

.dnd-list p {
  color: #fff;
  text-align: center;
  height: 20px;
  margin-top: 5px;
}

.dnd-card {
  width: 180px;
  display: flex;
  flex-direction: row;
  align-items: start;

  grid-template-columns: 35px, 125px;
  grid-template-rows: 179px, 20px;
  color: #fff;
  padding: 2px;
}

.dnd-card__counter-container {
  grid-column: 1;
  grid-row: 1;
  width: 35px;
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dnd-card__counter-container p {
  height: 12px;
  width: 100%;
  font-size: 12px;
  text-align: center;
}
