.dnd-list {
  grid-row: 3;
  overflow-y: auto;
  scrollbar-width: thin;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 3px inset #21262D;
  background-color: #0D1117;
  min-height: 207px;
  max-height: 609px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 3px;
  margin-right: 2px;
}

.dnd-list p {
  color: #fff;
  text-align: center;
  height: 20px;
  margin-top: 5px;
}

.dnd-card {
  width: 165px;
  display: grid;
  grid-template-columns: 35px, 125px;
  grid-template-rows: 182px, 24px;
  color: #fff;
  padding: 2.5px;
  margin: 1px 2.5px;
}

.dnd-card__counter-container {
  grid-column: 1;
  grid-row: 1;
  width: 35px;
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-self: center;
  align-self: center;
}

.dnd-card__counter-container p {
  height: 12px;
  width: 100%;
  font-size: 12px;
  text-align: center;
}
