/* TODO Add site wide styles */
html {
  height: 100vh;
  background-color: #000;

}
body {
  height: 100%;

}

.splash {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 50px 1fr 3fr 1fr 50px;
  grid-template-rows: 50px 575px 1fr 50px;
  /* background: url('../assets/backgrounds/land-color-morph.png') no-repeat center center fixed; */
  /* background-color: #cccccc; */
  background-color: #000;
  background-size: cover;
  text-align: center;
}

.title__container {
  grid-column-start: 3;
  grid-row-start: 2;
  display: flex;
  justify-content: center;
  width: 100%;

}

.title {
  font-family: "Satmin";
  font-size: 170px;
  background: -webkit-linear-gradient(270deg, #721b00, #f5bc2d);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #421408;
  max-height: 30%;

}

.splash-statement {
  grid-column-start: 3;
  grid-row-start: 3;
  font-family: "Matrixbsc";
  font-size: 70px;
  background: -webkit-linear-gradient(#434878, #31B3E1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #21243b;
}

.disclaimer {
  font-size: 10px;
  grid-column-start: 3;
  grid-row-start: 5;
  color: #ffffff;
}

@font-face {
  font-family: "Matrixbsc";
  src: url("matrixbsc.ttf");
}

@font-face {
  font-family: "Satmin";
  src: url("SATAM___.TTF");
}
