@import url('./reset.css');
@import url('./navbar.css');
@import url('./main.css');

#root {
  margin: 0;
  padding: 0;
  /* height: 100%;
  width: 100%; */

}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #06090F;
  /* z-index: 0; */
}

@font-face {
  font-family: "Matrixbsc";
  src: url("matrixbsc.ttf");
}

@font-face {
  font-family: "Satmin";
  src: url("SATAM___.TTF");
}
