
.splash {
  min-height: 840px;
  width: 100%;
  position: relative;
  background: transparent;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.splash-search {
  grid-row: 1;
  width: 420px;
  padding-right: 50px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 50px;
}

.splash-search input {
  width: 100%;
  height: 2rem;
  border-radius: 16px;
  border: 1px solid #E6CD8C;
  background-color: #21262D;
  color: #46646E;
  font-size: 1.4rem;
  outline: none;
  font-weight: 500;
  line-height: 2.4rem;
  text-align: center;
}

.splash-search input::placeholder {
  color: #46646E;
}

.splash-search button {
  display: none;
}

.splash-contents {
  position: relative;
  display: grid;
  min-height: 840px;
  width: 100%;
  grid-template-rows: 550px 30px 1fr 85px;
  background-color: transparent;
  z-index: 1;
}

.splash-background {
  grid-row-start:1;
  width: 100%;
  min-height: 550px;
  max-height: 700px;
  height: calc(100% - 40%);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  background: linear-gradient(to bottom, transparent 0%, transparent 80%, #06090F 100%);
  background-blend-mode: multiply;
}

.splash-background::after {
  grid-row-start: 1;
  content: "";
  background: url('../assets/backgrounds/Ancient-Hellkite.jpg')  no-repeat ;
  opacity: 0.325;
  background-size: cover;
  background-position: center top -150px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-color: #06090F;
}

.latest-decks {
  position: relative;
  grid-row: 3;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 100px 1fr;
  color: #fff;
  padding-bottom: 25px;
}

.latest-decks h1 {
  grid-column: 2;
  grid-row: 1;
  align-items: end;
  padding-top: 60px;
}

.latest-decks p,
.latest-decks h1,
.latest-decks h4 {
  color: #fff;
  display: flex;
  justify-content: center;
}

.latest-decks p {
  cursor: pointer;
}

.deck-container {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.main__deck-list-item {
  height: 380px;
  justify-self: center;
  align-self: center;
}

.main__deck-list-item-mana {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main__deck-list-item-mana > img{
  height: 20px;
  margin: 5px 0;
}

.main__deck-list-item p {
  font-size: 12px;
}

.main__deck-list-item-indicators {
  height: 10px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2px;
}

.main__deck-list-item-indicators div {
  margin: 0 5px;
}

.disclaimer {
  position: relative;
  font-size: 10px;
  grid-row-start: 2;
  color: #46646E;
  display: flex;
  flex-direction: column;
  padding: 0 150px;
  align-items: flex-start;
  justify-content: flex-end;
  padding-bottom: 5px;
}

.disclaimer p {
  padding-top: 7px;
  padding-bottom: 0;
}
