.navbar {
  display: grid;
  background: transparent;
  position: absolute;
  grid-template-columns: 50px 200px 1fr 50px 340px 50px;
  height: 50px;
  width: 100%;
  padding-top: 15px;
  z-index: 2;
}

.navlinks {
  text-decoration: none;
  color:  #421408;
  padding: 5px;
  cursor: pointer;
}

.navbar-links {
  grid-column-start: 5;
  height: 100%;
  /* display: grid; */
}

.navbar-links__build-button {
  /* margin-left: 10px; */
  grid-column: 4;
  margin-right: 3px;
  width: 30px;
  height: 30px;
  margin-top: 7.5px;
  justify-self: end;
}

.navbar-links__build-button button{
  /* margin-left: 10px; */
  grid-column: 4;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: .7rem;
  border: 2px ridge #E6CD8C;
  font-size: .8rem;
  background-color: #21262D;
  color: #E6CD8C;
  cursor: pointer;
  outline: none;
}

/* .navbar-links li {
  background: -webkit-linear-gradient(270deg, #702d00, #f5bc2d);
  border: 2px solid #421408;
  border-radius: 16px;
  text-align: center;
  padding: 2px 4px;
  margin: 4px 2px;
  width: 80px;
} */

.navbar-links__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 6px;
}

.navbar-links__right {
  grid-column-start: 5;
  height: 100%;

}

.navbar-links li,
.navbar-links__right li {
  background: -webkit-linear-gradient(135deg, #766237 10%, #E6CD8C 50%, #766237 90%);
  border: 2px groove #0D1117;
  border-radius: 16px;
  text-align: center;
  padding: 2px 4px;
  margin: 4px 2px;
  width: 80px;
}

.navbar-links__list-logout-button label {
  cursor: pointer;
  text-align: center;
}

.navbar-links__list-logout-button button{
  background: transparent;
  border: none;
  text-align: center;
  display: none;
}
/* .navbar-links__right-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 6px;
} */

.title__container {
  grid-column-start: 2;
  display: flex;
  justify-content: flex-start;
  width: 100%;

}
.title {
  font-family: "Satmin";
  font-size: 60px;
  background: -webkit-linear-gradient(270deg, #700D00 20%, #f5bc2d 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #421408;
  max-height: 55px;
  margin-top: -13px;
}
