.user-profile {
  position: relative;
  color: #ffffff;
  height: 100%;
  display: grid;
  grid-template-columns: 50px 1fr 1fr 1fr 50px;
  grid-template-rows: 75px 25px 200px 100px auto 50px;
}

.user-profile__navbar-background {
  grid-row-start: 1;
  grid-column: 1 / span 5;
  /* background-color: #121E2F; */
}

.user-profile__buffer {
  grid-row-start: 2;
  grid-column: 1 / span 5;
  border-top: 3px outset #21262D;
  background-color: #121E2F;
}

.user-profile__header-buffer {
  grid-row-start: 4;
  grid-column: 1 / span 5;
  background-color: #121E2F;
  border-bottom: 3px outset #21262D;
}

.user-profile__user-panel {
  grid-column: 1 / span 5;
  grid-row-start: 3;
  display: grid;
  width: 100%;
  grid-template-columns: 50px 1fr 1fr 350px 200px 50px;
  background-color: #121E2F;
}

.user-profile__user-panel-background {
  position: absolute;
  grid-column: 1 / span 5;
  width: 100%;
  height: 100%;
  background-color: #121E2F;
  border-top: 1px solid #f5bc2d;
  border-bottom: 1px solid #f5bc2d;
}

.user-profile__user-panel-background-wrapper {
  position: absolute;
  width: 100%;
  content: "";
  top: 0;
  bottom: 0;
  left: -50%;
  right: 0;
  z-index: 0;
  overflow: hidden;
  transform: skewX(-45deg)
}

.user-profile__user-panel-background-image {
  position: relative;
  display: border-box;
  /* width: 100%; */
  height: 450px;
  /* height: 100%; */
  left: 50%;
  overflow: hidden;
  opacity: .3;
  /* z-index: 1; */
  background-color: #121E2F;
  /* background-blend-mode: multiply;
  mix-blend-mode: difference; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
  /* background-position: none; */
  /* background-image: linear-gradient(to top left, red, yellow); */
  transform: skewX(45deg);
  mask-image: linear-gradient(to left top, rbga(0, 0, 0, 0) 0% rbga(18, 30, 47, 1) 100%);
}

.user-profile__user-panel-about-container {
  grid-column: 3;
}

.user-profile__user-panel-info-container {
  grid-column: 4;
  padding-right: 30px;
  display: grid;
  grid-template-rows: 100px 50px 50px;
}

.user-profile__user-panel-info-container-username {
  grid-row-start: 1;
  font-size: 2.5rem;
  font-weight: 600;
  justify-self: end;
  align-self: end;
  line-height: 3rem;
}
.user-profile-user-panel-avatar-container {
  position: relative;
  grid-column-start: 5;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
}

.user-profile__user-panel-avatar-wrapper {
  position: relative;
  border-radius: 50%;
  height: 194px;
  width: 194px;
  background: -webkit-linear-gradient(270deg, #700d00, #f5bc2d);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #f5bc2d;
}

.user-profile__user-panel-avatar-image {
  position: relative;
  height: 174px;
  width: 174px;
  background-size: 100px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
  border: 2px solid #700d00;
}
