.user-profile {
  position: relative;
  color: #ffffff;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 50px 2fr 1fr 50px;
  grid-template-rows: 75px 450px 715px 1fr;
  width: 100%;
}

.user-profile__header {
  grid-column: 1 /span 4;
  grid-row: 2;
  position: relative;
  display: grid;
  grid-template-columns: 50px 1fr 1fr 1fr 50px;
  grid-template-rows: 25px 200px 100px 25px;
  background-color: #121E2F;
  border-top: 1px solid #E6CD8C;
  border-bottom: 1px solid #E6CD8C;
  width: 100%;
}

.user-profile__user-panel {
  grid-column: 1 / span 5;
  grid-row: 2;
  display: grid;
  width: 100%;
  grid-template-columns: 50px 1fr 350px 200px 50px;
  background-color: #121E2F;
}

.user-profile__user-panel-background {
  position: absolute;
  grid-column: 1 / span 5;
  width: 100%;
  height: 450px;
  background-color: #121E2F;
  border-top: 3px ridge #E6CD8C;
  border-bottom: 3px ridge #E6CD8C;
  overflow: hidden;
  z-index: 1;
}

.user-profile__user-panel-background-wrapper {
  background-color: #121E2F;
  position: absolute;
  width: 84%;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  transform-origin: top left;
  transform: skewX(-45deg);
  border: none;
  outline: 1px solid transparent;
  padding: 1px transparent;
  margin: 1px transparent;
  background-size: cover;
  border-style: none;
  font-size: 0;
  box-shadow: 0 0 1px rgba(255,255,255,0);
  opacity: 1;
  mix-blend-mode: multiply;
}

.user-profile__user-panel-background-image {
  position: relative;
  width: 100%;
  height: 450px;
  opacity: 1;
  background-color: #121E2F;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 0%;
  background-position-x: center;
  transform-origin: top left;
  transform: skewX(45deg);
  mask-image: linear-gradient(to left top, rbga(0, 0, 0, 0) 0%, #000000 100%);
  right: 10%
}

.user-profile__user-panel-gradient {
  position: relative;
  transform-origin: top left;
  transform: skewX(-45deg);
  width: 84%;
  height: 450px;
  left: 0;
  top: 0;
}

.user-profile__user-panel-gradient:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 450px;
  transform-origin: top left;
  transform: skewX(45deg);
  overflow: hidden;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: linear-gradient(-45deg, rgba(18, 30, 47, 1) 40%, rgba(18, 30, 47, .5) 60%, transparent 100%);
}

.user-profile__user-panel-about-container {
  grid-column: 3 / span 2;
  grid-row: 3;
  z-index: 1;
  padding: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.user-profile__user-panel-info-container {
  grid-column: 3;
  padding-right: 30px;
  display: grid;
  grid-template-rows: 100px 30px 70px;
  z-index: 1;
  color: #13B3E1;

}

.user-profile__user-panel-info-container-header {
  grid-row: 1;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.user-profile__user-panel-info-container-VIP {
  position: relative;
  grid-row-start: 1;
  justify-self: end;
  align-self: end;
  width: 50px;
  height: 25px;
  border-radius: 45%;
  background: -webkit-linear-gradient(135deg, #FF5500, #F59105, #FF5500);
  border: 2px solid #0D1117;
  color: #0D1117;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  font-weight: 700;
  overflow: hidden;
}

.user-profile__user-panel-info-container-VIP:after {

  animation: shine 10s ease-in-out  infinite;
  animation-fill-mode: forwards;
  content: "";
  position: absolute;
  top: -200%;
  left: -300%;
  width: 180%;
  height: 200%;
  opacity: .5;
  transform: rotate(35deg);
  background: rgba(112, 13, 0, 0.13);
  background: linear-gradient(
    to right,
    rgba(112, 13, 0, 0.13) 0%,
    rgba(112, 13, 0, 0.13) 77%,
    rgba(245, 188, 45, 0.5) 92%,
    rgba(112, 13, 0, 0.0) 100%
  );
}

.user-profile__user-panel-info-container-username {
  grid-row-start: 2;
  font-size: 2.5rem;
  font-weight: 600;
  justify-self: end;
  align-self: end;
  line-height: 3rem;
  -webkit-text-stroke: 1px #434878;
}

.user-profile__user-panel-info-container-additional {
  grid-row-start: 2;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.user-profile__user-panel-info-container-joindate {
  font-size: 11px;
  grid-row-start: 1;
  justify-self: end;
}

.user-profile__user-panel-info-container-location {
  font-size: 11px;
  grid-row-start: 2;
  justify-self: end;
  align-self: start;
  margin-top: -1px;
}

.user-profile__body {
  grid-column: 2 / span 2;
  grid-row: 3 / span 3;
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
}

.user-profile__body-decks-container {
  grid-column: 1;
  grid-row: 1 / span 2;
  position: relative;
  max-width: 100%;
  height: 100%;
  margin: 10px;
  display: grid;
  grid-template-rows: 60px 1fr;
}

.user-profile__body-decks-container-header {
  grid-row: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 60px;
  align-items: center;
}

.user-profile__body-decks-container-header h1 {
  font-size: 22px;
}

.user-profile__body-decks-container-header button {
  margin-left: 10px;
  margin-right: 3px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  line-height: 1.2rem;
  border: 2px ridge #E6CD8C;
  font-size: 1.4rem;
  background-color: #21262D;
  color: #E6CD8C;
  cursor: pointer;
  outline: none;
}

.user-profile__body-decks-wrapper {
  grid-row: 2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  text-align: center;
}

.user-profile__body-decks-result {
  height: 350px;
}


.user-profile__deck-list-item {
  height: 380px;
}

.user-profile__deck-list-item-mana {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.user-profile__deck-list-item-mana > img{
  height: 20px;
  margin: 5px 0;
}

.user-profile__deck-list-item p {
  font-size: 12px;
}

.user-profile__deck-list-item-indicators {
  height: 10px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2px;
}

.user-profile__deck-list-item-indicators div {
  margin: 0 5px;
}

.user-profile__body-stats-container {
  margin: 10px;
  border-radius: 5px;
  grid-column: 2;
  grid-row: 1;
  position: relative;
  width: 100%;
  height: 100%;
}

@keyframes shine{
  10% {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
  }
  100% {
    opacity: 0;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
  }
}
